/*p, pre {*/
/*    margin-bottom: 1.25em;*/
/*}*/

.prose :where(:is(h2, h3) + *):not(:where([class~='not-prose'] *)) {
    margin-top: 0;
}

.prose :where(.prose > *):not(:where([class~='not-prose'] *)) {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.prose :where(p):not(:where([class~='not-prose'] *)) {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}

/*.prose :where(h2):not(:where([class~=not-prose] *)) {*/
/*    font-size: 1.25rem;*/
/*    line-height: 1.75rem;*/
/*    margin-top: 5rem;*/
/*    margin-bottom: 1rem;*/
/*}*/

.prose :where(h3, h4):not(:where([class~='not-prose'] *)) {
    /*color: var(--tw-prose-headings);*/
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.prose {
    line-height: 1.75;
    font-size: 1em;
}

h2,
h3,
h4 {
    font-weight: 500 !important;
    letter-spacing: -0.05em !important;
}

.prose :where(a):not(:where([class~='not-prose'] *)) {
    color: var(--theme-mdx-links);
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--theme-mdx-invert-underline);
    transition-property: color, text-decoration-color;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.prose :where(a:hover):not(:where([class~='prose'] *)) {
    color: var(--theme-mdx-links-hover);
    text-decoration-color: var(--theme-mdx-underline-hover);
}

.prose :where(h2):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    //color: var(--tw-prose-headings);
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333;
}

.prose :where(h3):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    font-size: 1rem;
}

.prose :where(ul, ol):not(:where([class~='not-prose'] *)) {
    padding-left: 1.5rem;
    list-style-type: decimal;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.prose :where(li):not(:where([class~='not-prose'] *)) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 0.875rem;
}
