.mainBg {
    border-radius: 50%;
    -webkit-filter: blur(150px);
    filter: blur(150px);
    height: 800px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -360px;
    width: 800px;
    z-index: -2;
    --conic-rotate: 45deg;

    &::after {
        --conic-opacity: 0.3;
        background-image: conic-gradient(
            from 45deg at 50% 50%,
            var(--color-orange),
            var(--color-pink),
            var(--color-pink),
            var(--color-blue),
            var(--color-blue),
            var(--color-purple),
            var(--color-purple),
            var(--color-orange)
        );
        border-radius: 50%;
        content: '';
        display: block;
        height: 1140px;
        opacity: var(--conic-opacity, 0.7);
        overflow: hidden;
        transform: rotate(var(--conic-rotate, 0deg));
        width: 1140px;
        will-change: transform;
    }
}
